[buildout]
extends =
    http://dist.plone.org/release/4.2.1/versions.cfg
    sources.cfg
    checkouts.cfg
    versions.cfg
    tests.cfg
parts +=
    instance1
    zopepy
    backup
    omelette
    patchblob
    postinstall
extensions =
    mr.developer
    buildout.dumppickedversions
versions = versions
allow-hosts =
    pypi.python.org
    dist.plone.org
    dist.plone.org:5021
    pypi.ecreall.com

find-links =
    http://dist.plone.org/release/4.2.1/
    http://pypi.ecreall.com/pypi/simple

eggs +=
    Pillow


[instance1]
recipe = plone.recipe.zope2instance
user = admin:KevakIlhut4
http-address = 8280
eggs =
    ${buildout:eggs}
    webpro.policy
zcml = webpro.policy
environment-vars =
    PYTHON_EGG_CACHE ${buildout:directory}/tmp
    TMPDIR ${buildout:directory}/tmp
    zope_i18n_compile_mo_files true

event-log-custom =
  <logfile>
    level info
    path ${buildout:directory}/var/log/${:_buildout_section_name_}.log
    max-size 1MB
    old-files 720
  </logfile>
  <logfile>
    level error
    path ${buildout:directory}/var/log/error.log
    max-size 1MB
    old-files 720
  </logfile>
access-log-custom =
  <logfile>
    path ${buildout:directory}/var/log/${:_buildout_section_name_}-Z2.log
    max-size 1MB
    old-files 720
  </logfile>
mailinglogger =
  <mailing-logger>
    level error
    flood-level 10
#    smtp-server localhost:9025
    from crt-monitoring@ecreall.com
    to crt-monitoring@ecreall.com
    subject [Error on CRT] [%(hostname)s] %(line)s
  </mailing-logger>

[zopepy]
recipe = zc.recipe.egg
eggs = ${instance1:eggs}
interpreter = zopepy
scripts = zopepy

[backup]
recipe = collective.recipe.backup
keep = 2
keep_blob_days = 14
full = false
gzip = true
blob_storage = ${buildout:directory}/var/blobstorage

[omelette]
recipe = collective.recipe.omelette
eggs =
    ${instance1:eggs}
    ${test:eggs}

[patchblob]
recipe = collective.recipe.patch
egg = ZODB3
patches = blob.patch

[postinstall]
recipe = plone.recipe.command
command =
    chmod -R g+r ${buildout:directory}/var
    find ${buildout:directory}/var -type d | xargs chmod g+x
update-command = ${:command}
